

// EDIT FORM

%h4
  %strong.text-info
    =format_name params

=simple_form_for @debtor, url: {controller: 'account/debtors', action: 'update'}, remote: true do |f|

  =f.input :name, autofocus: true, label: false, placeholder: 'name'
  =f.input :address1, label: false, placeholder: 'address'
  =f.input :address2, label: false, placeholder: 'address'
  =f.input :town, label: false, placeholder: 'town/suburb'
  =f.input :postcode, label: false, placeholder: 'postcode'
  =f.input :email, label: false, placeholder: 'email'
  =f.input :phone, label: false, placeholder: 'phone'
  %br
  =f.button :submit, 'Update', class: 'btn-default'




