
%nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{'data-target' => '#main', 'data-toggle' => 'collapse', type: 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand Simple Invoice

    #main.navbar-collapse.collapse
      =render_navigation context: 'main'


-flash.each do |name, msg|
  .alert{class: "alert-#{name == 'notice' ? 'success' : 'danger'}"}
    %button.close{ :data => { :dismiss => 'alert' } } x
    %strong
      =msg

