


%h4
  %strong.text-danger
    =format_name params

.form-sm

  %u You are about to delete

  %h4
    =@biller.name

  %br
  %br

  =button_to 'DELETE', {:controller => 'account/billers', :action => 'destroy', :id => @biller.id},
  :method => :delete, class: 'btn-default'