


%h4
  %strong.text-danger
    =format_name params

.form-sm

  %u You are about to delete

  %h4
    =@freight_code.name

  %br
  %br

  =button_to 'DELETE', {:controller => 'account/freight_codes', :action => 'destroy', :id => @freight_code.id},
  :method => :delete, class: 'btn-default'